.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cards {
    background-color: #1b6984;
    border: 2mm ridge rgba(211, 220, 50, .6);
    font-size: 2.5rem;
    font-family: 'atkinson';
    width: 40%;
    color: white;
}

