{% extends 'base.html.twig' %}

{% block title %}Work Access | Contact{% endblock %}

{% block body %}
    <p>Vous avez une question ?</p>

    {{ include('message/_form.html.twig') }}

    {{ include('include/_nav.html.twig') }}

{% endblock %}
